.commishHeader {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 2rem;
}

.losersItem {
  padding: 16px;
  display: flex;
  gap: 16px;
  border: 1px solid white;
  border-radius: 20px;
  width: fit-content;
}

.commishImg {
  align-self: flex-start;
  border-radius: 100%;
}

@media (max-width: 639px) {
	.commishImg {
    align-self: center;
    border-radius: 100%;
  }
}