.commishHeader {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
}

.losersContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 32px;
  max-height: 400px;
}

.losersItem {
  padding: 16px;
  display: flex;
  border: 1px solid white;
  border-radius: 20px;
  width: 300px;
  height: 300px;
}

.commishImg {
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 100%;
}

@media (max-width: 639px) {
	.commishImg {
    align-self: center;
    border-radius: 100%;
  }
}