.header {
  background-color: #137b35;
  padding: 0;
  margin: 0;
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.headerLeft h2 {
  font-size: 1.4rem;
}

.logo {
  margin: 0;
}

.navlink {
  font-size: 1.2rem;
  margin: 0 1rem;
}

header nav {
  height: auto;  
}

header a {
	color: #fff;
	padding: 0.25rem;
	text-decoration: none;
}

header a:hover {
  cursor: pointer;
  text-decoration: underline;
}