:root {
	font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	width: 100%;
	color: #ccc;
	background: url(/src/assets/flame_bg.jpg);
	background-position: center;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	width: 100%;
	margin: 0;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: auto;
	display: flex;
	max-width: 1280px;
	margin: 0 auto;
	text-align: left;
}

section {
	max-width: 1000px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(25, 1, 1, 0.99), rgba(0, 0, 0, 0.9));
	padding: 1rem;
	margin: 0.5rem;
}

h1 {
	font-size: 2.4rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Russo One", sans-serif;
}

p, li {
	font-size: 1.2rem;
	font-weight: 350;
	list-style: square;
}

@media (max-width: 639px) {
	body {
		width: fit-content;
	}

	main {
		margin: 0;
		padding: 0.5rem;
	}
}
